<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>panels</key>
	<dict>
		<key>Amp Env</key>
		<dict>
			<key>x</key><real>141</real>
			<key>y</key><real>882</real>
			<key>w</key><real>518</real>
			<key>h</key><real>185</real>
		</dict>
		<key>Filter · Wave Env</key>
		<dict>
			<key>x</key><real>141</real>
			<key>y</key><real>567</real>
			<key>w</key><real>518</real>
			<key>h</key><real>295</real>
		</dict>
		<key>LFO</key>
		<dict>
			<key>x</key><real>0</real>
			<key>y</key><real>0</real>
			<key>w</key><real>220</real>
			<key>h</key><real>547</real>
		</dict>
		<key>Modulation</key>
		<dict>
			<key>x</key><real>240</real>
			<key>y</key><real>0</real>
			<key>w</key><real>141</real>
			<key>h</key><real>547</real>
		</dict>
		<key>Performance</key>
		<dict>
			<key>x</key><real>746</real>
			<key>y</key><real>0</real>
			<key>w</key><real>260</real>
			<key>h</key><real>547</real>
		</dict>
		<key>Pitch Env</key>
		<dict>
			<key>x</key><real>679</real>
			<key>y</key><real>567</real>
			<key>w</key><real>517</real>
			<key>h</key><real>160</real>
		</dict>
		<key>Routing</key>
		<dict>
			<key>x</key><real>679</real>
			<key>y</key><real>748</real>
			<key>w</key><real>520</real>
			<key>h</key><real>321</real>
		</dict>
		<key>Voice Tuning</key>
		<dict>
			<key>x</key><real>1047</real>
			<key>y</key><real>0</real>
			<key>w</key><real>172</real>
			<key>h</key><real>547</real>
		</dict>
		<key>Waves</key>
		<dict>
			<key>x</key><real>419</real>
			<key>y</key><real>0</real>
			<key>w</key><real>306</real>
			<key>h</key><real>547</real>
		</dict>
		<key>Wheels</key>
		<dict>
			<key>x</key><real>0</real>
			<key>y</key><real>567</real>
			<key>w</key><real>121</real>
			<key>h</key><real>500</real>
		</dict>
	</dict>
	<key>controls</key>
	<dict>
		<key>A1</key>
		<dict><key>x</key><real>12</real><key>y</key><real>142</real><key>w</key><real>52</real><key>h</key><real>86</real></dict>
		<key>A2</key>
		<dict><key>x</key><real>4</real><key>y</key><real>26</real><key>w</key><real>52</real><key>h</key><real>86</real></dict>
		<key>ATTACK3</key>
		<dict><key>x</key><real>6</real><key>y</key><real>-2</real><key>w</key><real>52</real><key>h</key><real>86</real></dict>
		<key>BD</key>
		<dict><key>x</key><real>92</real><key>y</key><real>42</real><key>w</key><real>72</real><key>h</key><real>152</real></dict>
		<key>BI</key>
		<dict><key>x</key><real>22</real><key>y</key><real>300</real><key>w</key><real>52</real><key>h</key><real>86</real></dict>
		<key>D1</key>
		<dict><key>x</key><real>84</real><key>y</key><real>142</real><key>w</key><real>52</real><key>h</key><real>86</real></dict>
		<key>D2</key>
		<dict><key>x</key><real>76</real><key>y</key><real>26</real><key>w</key><real>52</real><key>h</key><real>86</real></dict>
		<key>DECAY3</key>
		<dict><key>x</key><real>78</real><key>y</key><real>-2</real><key>w</key><real>52</real><key>h</key><real>86</real></dict>
		<key>DELAY</key>
		<dict><key>x</key><real>28</real><key>y</key><real>130</real><key>w</key><real>62</real><key>h</key><real>112</real></dict>
		<key>DETU</key>
		<dict><key>x</key><real>176</real><key>y</key><real>18</real><key>w</key><real>52</real><key>h</key><real>86</real></dict>
		<key>ENV1_VCF</key>
		<dict><key>x</key><real>300</real><key>y</key><real>142</real><key>w</key><real>52</real><key>h</key><real>86</real></dict>
		<key>ENV1_WAVES</key>
		<dict><key>x</key><real>30</real><key>y</key><real>322</real><key>w</key><real>62</real><key>h</key><real>112</real></dict>
		<key>ENV3_ATT</key>
		<dict><key>x</key><real>228</real><key>y</key><real>-2</real><key>w</key><real>52</real><key>h</key><real>86</real></dict>
		<key>EO</key>
		<dict><key>x</key><real>176</real><key>y</key><real>104</real><key>w</key><real>52</real><key>h</key><real>86</real></dict>
		<key>ES</key>
		<dict><key>x</key><real>172</real><key>y</key><real>264</real><key>w</key><real>68</real><key>h</key><real>34</real></dict>
		<key>KF</key>
		<dict><key>x</key><real>0</real><key>y</key><real>92</real><key>w</key><real>52</real><key>h</key><real>86</real></dict>
		<key>KL</key>
		<dict><key>x</key><real>0</real><key>y</key><real>166</real><key>w</key><real>52</real><key>h</key><real>86</real></dict>
		<key>KW</key>
		<dict><key>x</key><real>0</real><key>y</key><real>18</real><key>w</key><real>52</real><key>h</key><real>86</real></dict>
		<key>MF</key>
		<dict><key>x</key><real>84</real><key>y</key><real>92</real><key>w</key><real>52</real><key>h</key><real>86</real></dict>
		<key>ML</key>
		<dict><key>x</key><real>84</real><key>y</key><real>178</real><key>w</key><real>56</real><key>h</key><real>34</real></dict>
		<key>MO</key>
		<dict><key>x</key><real>172</real><key>y</key><real>192</real><key>w</key><real>68</real><key>h</key><real>34</real></dict>
		<key>MOD_WHL</key>
		<dict><key>x</key><real>30</real><key>y</key><real>8</real><key>w</key><real>62</real><key>h</key><real>112</real></dict>
		<key>MS</key>
		<dict><key>x</key><real>172</real><key>y</key><real>228</real><key>w</key><real>68</real><key>h</key><real>34</real></dict>
		<key>MW</key>
		<dict><key>x</key><real>84</real><key>y</key><real>18</real><key>w</key><real>52</real><key>h</key><real>86</real></dict>
		<key>R1</key>
		<dict><key>x</key><real>228</real><key>y</key><real>142</real><key>w</key><real>52</real><key>h</key><real>86</real></dict>
		<key>R2</key>
		<dict><key>x</key><real>220</real><key>y</key><real>26</real><key>w</key><real>52</real><key>h</key><real>86</real></dict>
		<key>RATE</key>
		<dict><key>x</key><real>28</real><key>y</key><real>258</real><key>w</key><real>62</real><key>h</key><real>112</real></dict>
		<key>S1</key>
		<dict><key>x</key><real>156</real><key>y</key><real>142</real><key>w</key><real>52</real><key>h</key><real>86</real></dict>
		<key>S2</key>
		<dict><key>x</key><real>148</real><key>y</key><real>26</real><key>w</key><real>52</real><key>h</key><real>86</real></dict>
		<key>SEMIT_V1</key>
		<dict><key>x</key><real>0</real><key>y</key><real>18</real><key>w</key><real>52</real><key>h</key><real>86</real></dict>
		<key>SEMIT_V2</key>
		<dict><key>x</key><real>76</real><key>y</key><real>18</real><key>w</key><real>52</real><key>h</key><real>86</real></dict>
		<key>SEMIT_V3</key>
		<dict><key>x</key><real>0</real><key>y</key><real>125</real><key>w</key><real>52</real><key>h</key><real>86</real></dict>
		<key>SEMIT_V4</key>
		<dict><key>x</key><real>76</real><key>y</key><real>125</real><key>w</key><real>52</real><key>h</key><real>86</real></dict>
		<key>SEMIT_V5</key>
		<dict><key>x</key><real>0</real><key>y</key><real>233</real><key>w</key><real>52</real><key>h</key><real>86</real></dict>
		<key>SEMIT_V6</key>
		<dict><key>x</key><real>76</real><key>y</key><real>233</real><key>w</key><real>52</real><key>h</key><real>86</real></dict>
		<key>SEMIT_V7</key>
		<dict><key>x</key><real>0</real><key>y</key><real>341</real><key>w</key><real>52</real><key>h</key><real>86</real></dict>
		<key>SEMIT_V8</key>
		<dict><key>x</key><real>76</real><key>y</key><real>341</real><key>w</key><real>52</real><key>h</key><real>86</real></dict>
		<key>SW</key>
		<dict><key>x</key><real>0</real><key>y</key><real>142</real><key>w</key><real>92</real><key>h</key><real>170</real></dict>
		<key>TF</key>
		<dict><key>x</key><real>252</real><key>y</key><real>92</real><key>w</key><real>52</real><key>h</key><real>86</real></dict>
		<key>TL</key>
		<dict><key>x</key><real>252</real><key>y</key><real>166</real><key>w</key><real>52</real><key>h</key><real>86</real></dict>
		<key>TM</key>
		<dict><key>x</key><real>252</real><key>y</key><real>214</real><key>w</key><real>60</real><key>h</key><real>34</real></dict>
		<key>TW</key>
		<dict><key>x</key><real>252</real><key>y</key><real>18</real><key>w</key><real>52</real><key>h</key><real>86</real></dict>
		<key>UW</key>
		<dict><key>x</key><real>0</real><key>y</key><real>18</real><key>w</key><real>86</real><key>h</key><real>120</real></dict>
		<key>VCF_CUTOFF</key>
		<dict><key>x</key><real>112</real><key>y</key><real>2</real><key>w</key><real>84</real><key>h</key><real>124</real></dict>
		<key>VCF_EMPHASIS</key>
		<dict><key>x</key><real>220</real><key>y</key><real>2</real><key>w</key><real>84</real><key>h</key><real>124</real></dict>
		<key>VF</key>
		<dict><key>x</key><real>168</real><key>y</key><real>61</real><key>w</key><real>52</real><key>h</key><real>86</real></dict>
		<key>VL</key>
		<dict><key>x</key><real>168</real><key>y</key><real>135</real><key>w</key><real>52</real><key>h</key><real>86</real></dict>
		<key>WAVESHAPE</key>
		<dict><key>x</key><real>28</real><key>y</key><real>54</real><key>w</key><real>62</real><key>h</key><real>66</real></dict>
		<key>WAVES_OSC</key>
		<dict><key>x</key><real>18</real><key>y</key><real>160</real><key>w</key><real>78</real><key>h</key><real>124</real></dict>
		<key>WAVES_SUB</key>
		<dict><key>x</key><real>132</real><key>y</key><real>202</real><key>w</key><real>62</real><key>h</key><real>112</real></dict>
		<key>WAVETB</key>
		<dict><key>x</key><real>16</real><key>y</key><real>288</real><key>w</key><real>78</real><key>h</key><real>112</real></dict>
		<key>amp.env2Loud</key>
		<dict><key>x</key><real>292</real><key>y</key><real>26</real><key>w</key><real>52</real><key>h</key><real>86</real></dict>
		<key>amp.velocity</key>
		<dict><key>x</key><real>10</real><key>y</key><real>-2</real><key>w</key><real>92</real><key>h</key><real>16</real></dict>
		<key>env.amp.mode</key>
		<dict><key>x</key><real>436</real><key>y</key><real>72</real><key>w</key><real>32</real><key>h</key><real>32</real></dict>
		<key>env.filter.mode</key>
		<dict><key>x</key><real>444</real><key>y</key><real>188</real><key>w</key><real>32</real><key>h</key><real>32</real></dict>
		<key>env.pitch.mode</key>
		<dict><key>x</key><real>324</real><key>y</key><real>76</real><key>w</key><real>32</real><key>h</key><real>32</real></dict>
		<key>filter.full</key>
		<dict><key>x</key><real>10</real><key>y</key><real>102</real><key>w</key><real>92</real><key>h</key><real>16</real></dict>
		<key>filter.half</key>
		<dict><key>x</key><real>10</real><key>y</key><real>82</real><key>w</key><real>92</real><key>h</key><real>16</real></dict>
		<key>filter.keyamt</key>
		<dict><key>x</key><real>10</real><key>y</key><real>64</real><key>w</key><real>92</real><key>h</key><real>14</real></dict>
		<key>filter.mode.knob</key>
		<dict><key>x</key><real>324</real><key>y</key><real>10</real><key>w</key><real>88</real><key>h</key><real>94</real></dict>
		<key>filter.normbp</key>
		<dict><key>x</key><real>10</real><key>y</key><real>40</real><key>w</key><real>92</real><key>h</key><real>16</real></dict>
		<key>filter.velocity</key>
		<dict><key>x</key><real>10</real><key>y</key><real>20</real><key>w</key><real>92</real><key>h</key><real>16</real></dict>
		<key>lfo.graph</key>
		<dict><key>x</key><real>4</real><key>y</key><real>410</real><key>w</key><real>188</real><key>h</key><real>56</real></dict>
		<key>mod.env2Loud</key>
		<dict><key>x</key><real>30</real><key>y</key><real>165</real><key>w</key><real>62</real><key>h</key><real>112</real></dict>
		<key>perf.label.tuning</key>
		<dict><key>x</key><real>-68</real><key>y</key><real>110</real><key>w</key><real>0</real><key>h</key><real>0</real></dict>
		<key>routing.keytrack</key>
		<dict><key>x</key><real>6</real><key>y</key><real>0</real><key>w</key><real>60</real><key>h</key><real>16</real></dict>
		<key>routing.modwheel</key>
		<dict><key>x</key><real>92</real><key>y</key><real>0</real><key>w</key><real>68</real><key>h</key><real>16</real></dict>
		<key>routing.touch</key>
		<dict><key>x</key><real>268</real><key>y</key><real>0</real><key>w</key><real>44</real><key>h</key><real>16</real></dict>
		<key>routing.velocity</key>
		<dict><key>x</key><real>182</real><key>y</key><real>0</real><key>w</key><real>56</real><key>h</key><real>16</real></dict>
		<key>waves.plot</key>
		<dict><key>x</key><real>8</real><key>y</key><real>8</real><key>w</key><real>256</real><key>h</key><real>128</real></dict>
		<key>waves.selector</key>
		<dict><key>x</key><real>72</real><key>y</key><real>418</real><key>w</key><real>150</real><key>h</key><real>52</real></dict>
		<key>wheel.mod</key>
		<dict><key>x</key><real>24</real><key>y</key><real>246</real><key>w</key><real>52</real><key>h</key><real>142</real></dict>
		<key>wheel.pitch</key>
		<dict><key>x</key><real>24</real><key>y</key><real>64</real><key>w</key><real>52</real><key>h</key><real>142</real></dict>
	</dict>
	<key>knobSizes</key>
	<dict>
		<key>BI</key><real>60</real>
		<key>DETU</key><real>60</real>
		<key>EO</key><real>60</real>
		<key>SEMIT_V1</key><real>60</real>
		<key>SEMIT_V2</key><real>60</real>
		<key>SEMIT_V3</key><real>60</real>
		<key>SEMIT_V4</key><real>60</real>
		<key>SEMIT_V5</key><real>60</real>
		<key>SEMIT_V6</key><real>60</real>
		<key>SEMIT_V7</key><real>60</real>
		<key>SEMIT_V8</key><real>60</real>
	</dict>
</dict>
</plist>
